
#container{
    width:1190px;
    margin:auto;
    height:auto;
   
}
.dropbtn {
    padding:10px 14px 10px 14px;
    background-color:#347ABB ;
    color: white;
    font-size: 16px;
    border: none;
    font-family: Domine, serif;
    font-size: 13px;
    letter-spacing: 0.1em;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width:250px;
    left:0;
    border:1px solid red;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    padding:10px;
  }
  
  /* .dropdown-content a:hover {background-color: #ddd;} */
  .dropdown-content a:hover{
    color:red;
    background-color: white;
}
  
  .dropdown:hover .dropdown-content {display: block;}

  
  /* .dropdown:hover .dropbtn {background-color: #3e8e41;} */
  .dropdown:hover.dropbtn{
    background-color: 
    #f15d47;
}

.dropbtn>span>i{
    font-size: 15px;
    color:white;
    font-weight: 600;
}
#rings{

#rings-common{
  
    display:flex;
    margin-top: -10px;
}
#rings-common>h2{
   color:red;
   font-family: Muli,Arial,sans-serif;
   font-weight: 100;
   margin-top:25px;
   font-size:22px;
} 
#rings-common>div:nth-child(2){
    border-left: 1px solid #CCC;
    background: #CCC;
    height: 25px;
    margin-left:20px;
    margin-top: 25px;
}
#rings-common>div:nth-child(3){
   margin-top:18px;
   margin-left:20px;
   color:#666666;
   font-family: Muli,Arial,sans-serif;
   font-size: 14px;
   font-weight: 100;
   letter-spacing: 0.1em;
}
hr{
    margin-top:-1px
}
img{
    border:3px solid rgb(247, 242, 242);
}
#opt-filter{
    display:flex;
    margin-top: -10px;
}
#opt-filter>div:nth-child(1){
    width:75%;
    color:#000000;
    font-family: Muli,Arial,sans-serif;
    font-size: 14px;
    letter-spacing: 0.1em;
}
#opt-filter>div:nth-child(2){
    width:18%;
    margin-left:90px;
    font-family: Muli,Arial,sans-serif;
    font-size: 14px;
    letter-spacing: 0.1em;
}

#sortby{
    margin-right: -500px;
}
#popular{
    padding:10px 20px 10px 10px;
    color:#347ABB; 
    border:1px solid #347ABB;
    background-color: white;
    font-family: Domine, serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.03em;
    display: block;
    text-align: right;
    margin-right: -10px;
    
}
#popular>span{
    margin-left:95px
}
#popular>span>i{
   font-size: 15px;
   color:#347ABB;
   font-weight: 600;
}
#filterblock{
  display:flex;
  gap:20px;
  height:20px;
  margin-top: 20px;
}
#filterblock>div:nth-child(1){
    color:#272B65;
    font-family: Muli,Arial,sans-serif;
    font-size: 11px;
    letter-spacing: 0.1em;
    margin-top: 3px;
}
#filterblock>div:nth-child(2){
    margin-top:-4px
}
#filterblock>div:nth-child(2){
    text-decoration: none;
    border: 1px solid #ebebeb;
    color: #4476b2;
    display: inline-block;
    background: #fff;
    padding: 5px 7px 5px 8px;
    white-space: nowrap;
    letter-spacing: 0.1em;
    font-size: 11px;   
}
#filterblock>div>a{
    text-decoration: none;
    color: #4476b2;
}
#filterblock>div:nth-child(2):hover{
    cursor:pointer;
    background-color:#f15d4c;
}
#filterblock>div:nth-child(2)>a:hover{
    color:white;
}   
#filterblock>div>a>i{
    color:red;
    font-size: 10px;
}
#filterblock>div>a>i:hover{
    color:white;
    cursor:pointer;
}
#id1{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap:30px; 
}
.box{
    width:100%;
    height:auto;
    margin-top: 30px;
}
.Headdiv{
    background: white;
    border: 1px solid #fac6c1;
    color: #f15d4c;
    display: block;
    width: 100%;
    padding: 0 5px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 12%);
    box-sizing: content-box;
    font-family: Muli,Arial,sans-serif;
    font-size: 13px;
    line-height: 19px;
    font-weight: 500;
    letter-spacing: .05em;
    position: relative;
    text-align: center;
    overflow: visible;
    width:100%;
    margin-left: -6px;
    /* box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px; */
}
.image{
    width:100%;
    border:none;
}
.bigDiv{
    display:flex;
    justify-content: space-between;
}
.bigDiv:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.priceDiv{
    display:flex;
    justify-content: space-between;
    gap:20px;
}
.ringPrice{
   font-size: 20px;
   font-family: Muli,Arial,sans-serif;
   font-weight: 500;

}
.saved{
   color:red;
   font-family: Muli,Arial,sans-serif;
   font-size: 15px;
   margin-top: 23px;
}

.strk{
    text-decoration: line-through;
    color:rgb(177, 174, 174);
    font-size: 16px;
    margin-top: 23px;
}
.P{
    font-family: Muli,Arial,sans-serif;
   font-size: 15px;
   margin-top: 23px;
}
#middlebox{
    margin-top:40px;
    width:100%;
    height:300px;
    display:flex;
    box-sizing: border-box;
    background:#001e38 url(https://kinnpimg2.bluestone.com/resources/themes/bluestone/images/new/bp-store-widget.v1.jpg) no-repeat;
}
#bluebox{
    width:40%;
    height:100%;
}
#centerdata{
    width:80%;
    height:100%;
    margin:auto;
}
#centerdata>div:nth-child(1){
    font-family: Domine, serif;
    font-size: 30px;
    margin-top: 50px;
    color:white;
 }
#centerdata>div:nth-child(2){
   font-family: Muli,Arial,sans-serif;
   font-size: 20px;
   margin-top: 22px;
   color:white;
}
#centerdata>div:nth-child(3){
    width:30%;
    font-family: Domine, serif;
    font-size: 20px;
    margin-top: 50px;
    color:white;
    padding:15px 50px 15px 50px;
    border:1px solid white;
}
#centerdata>div:nth-child(3)>a{
    text-decoration: none;
    color:white;
}
#imgbox{
    width:60%;
}
#imgbox>img{
    width:100%;
    height:100%;
    border:none;
    background:#001e38 url(https://kinnpimg2.bluestone.com/resources/themes/bluestone/images/new/bp-store-widget.v1.jpg) no-repeat;
}
#id3{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap:30px; 
}
.buttons{
    display:flex;
    justify-content: center;
    margin-top: -4px;
}
.buttons:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn1{
    padding: 15px 19px 15px 19px;
   text-align: center;
   font-family: Domine,serif;
   line-height: initial;
   font-size: 13px;
   border: 1px solid transparent;
   letter-spacing: 1px;
   cursor: pointer;
   border:2px solid lightgray;
   background-color: white;
}
.btn1:hover{
    color:red;

}
.btn2{
    padding: 15px 19px 15px 19px;
    text-align: center;
    font-family: Domine,serif;
    background-color: #f15d47;
    color: white;
    line-height: initial;
    font-size: 13px;
    border: 1px solid transparent;
    letter-spacing: 1px;
    cursor: pointer;
    border:2px solid lightgray;
 }
