body{
    background-color: rgb(244,244,244);
}
*{
    font-family: 'muli' Arial sans-serif;
}

/* Navbar start */

.navbar{
    background-color: rgb(0,30,56);
    position: sticky;
    top: 0px;
    z-index: 1;
    text-align: center;
    padding: 14px;
}
.navbar>a{
    text-decoration: none;
    color: rgb(255,255,255);
    padding: 10px;
    font-family: 'muli' Arial sans-serif;
    font-size: 14px;
}

.ring-drop{
    display: none;
}
.rings:hover+.ring-drop{
    display: block;
    position: absolute;
    left: 10%;
    top: 90%;
    z-index: 1;
}
.ring-drop:hover {
    display: block;
    position: absolute;
    left: 10%;
    top: 90%;
    z-index: 1;
}
.earrings-drop{
    display: none;
}
.earrings:hover+.earrings-drop{
    display: block;
    position: absolute;
    left: 10%;
    top: 90%;
    z-index: 1;
}
.earrings-drop:hover {
    display: block;
    position: absolute;
    left: 10%;
    top: 90%;
    z-index: 1;
}

.pendants-drop{
    display: none;
}
.pendants:hover+.pendants-drop{
    display: block;
    position: absolute;
    left: 10%;
    top: 90%;
    z-index: 1;
}
.pendants-drop:hover {
    display: block;
    position: absolute;
    left: 10%;
    top: 90%;
    z-index: 1;
}

.solitaries-drop{
    display: none;
}
.solitaries:hover+.solitaries-drop{
    display: block;
    position: absolute;
    left: 20%;
    top: 90%;
    z-index: 1;
}
.solitaries-drop:hover {
    display: block;
    position: absolute;
    left: 20%;
    top: 90%;
    z-index: 1;
}


.All-drop{
    display: none;
}
.all-jewellerys:hover+.All-drop{
    display: block;
    position: absolute;
    left: 20%;
    top: 90%;
    z-index: 1;
}
.All-drop:hover {
    display: block;
    position: absolute;
    left: 20%;
    top: 90%;
    z-index: 1;
}

.gifts-drop{
    display: none;
}
.gifts:hover+.gifts-drop{
    display: block;
    position: absolute;
    left: 30%;
    top: 90%;
    z-index: 1;
}
.gifts-drop:hover {
    display: block;
    position: absolute;
    left: 30%;
    top: 90%;
    z-index: 1;
}

.coins-drop{
    display: none;
}
.coins:hover+.coins-drop{
    display: block;
    position: absolute;
    left: 50%;
    top: 90%;
    z-index: 1;
}
.coins-drop:hover {
    display: block;
    position: absolute;
    left: 50%;
    top: 90%;
    z-index: 1;
}

.next-day-drop{
    display: none;
}
.next-day:hover+.next-day-drop{
    display: block;
    position: absolute;
    left: 70%;
    top: 90%;
    z-index: 1;
}
.next-day-drop:hover {
    display: block;
    position: absolute;
    left: 70%;
    top: 90%;
    z-index: 1;
}

.navbar>div h4{
    color: rgb(76, 136, 192);
    text-align: left;
    padding: 0px 0px 0px 10px;
    font-family: Arial sans-serif;
}
.navbar>div hr{
    margin-top: 0px;
    margin-bottom: 0px;
}
.navbar>div a{
    color: black;
    line-height: 25px;
}
.navbar>div ul{
    text-align: left;
    padding: 0px 50px 0px 10px;
}



.ring-drop-container{
    display: flex;
}
.ring-drop-container>div{
    padding: 10px;
}
.ring-drop-container>div:nth-child(even){
    background-color: rgb(244,244,244);
}
.ring-drop-container>div:nth-child(odd){
    background-color: rgb(255,255,255);
}
.ring-drop-container a{
    text-decoration: none;
}
.ring-drop-container a:hover{
    color:red
}
.heading+hr+div{
    display: flex;
}
.heading+hr+div div{
    text-align: left;
}
.ring-types button{
    padding: 10px;
    background-color: transparent;
    border: 1px solid black;
}
li{
    list-style-type: none;
    text-align: left;
}
.ads{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding: 20px;
    padding-top: 25px;
}
.ads img{
    padding: 10px;
}

/* Navbar End */

#top-logo{
    width: 20%;
    box-sizing: border-box;
    margin-top: 0px;
}
#top-logo img{
    height: 100%;
    width: 100%;
    margin-top: 0px;
}
#top{
    display: flex;
    margin-top: 0%;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: rgb(255,255,255);

}
#search{
    margin-top: 0px;
    width: 25%;
    box-shadow: rgba(41, 41, 44, 0.2) 0px 7px 29px 0px;
}  
#butn{
    width: 5%;
    border: 0px;
    margin-top: 0px;
    background-color: rgb(240,93,77);
    position: absolute;

    padding: 9px

}
#butn i{
    color: aliceblue;
    font-size: medium;
}
#field{
    width: 90%;
    box-sizing: border-box;
    border: 0px;
    padding: 10px;
    margin-top: 0px;
    
}
#top-corner{
    margin-top: 0px;
    width: 30%;
}
#LS{
    margin-top: 0px;
}
#LS ul{
    margin-top: 0px; 
    display: inline-flex;
}
#LS ul li{
    padding: 2px;
    font-size: medium;
    list-style-type: none;
    text-align: left;
}
#LS ul a{
    text-decoration: none;
    color: rgb(101,153,201);
}
#LS li ::before{
    content: '|';
    color: blue;
    font-size: 10px;
    padding: 10px;
}
#icons{
    display: flex;
}
#icons ul{
    display: inline-flex;
    margin: 0px;
    margin-left: 0px;
    text-align: left;
}
#icons ul li{
    list-style-type: none;
    padding: 2px;
    font-size: 15px
}
.fa-solid,.fa-regular{
    font-size: 30px;
    color: rgb(71,70,70);
}
#icons ul a{
    display: inline-flex;
    text-decoration: none;
    color:rgb(24, 22, 22);
    margin-left: 0px;
}
#icons ul a :hover{
    color: red;
}
#LS ul a :hover{
    color: red;
}



#img-container{
    width: 90%;
    margin: auto;
 }
#month-img{
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#month-img img , #month-2imgs img{
    width: 100%;
    height: 99%;
    display: block;
    margin: auto;
}
#month-2imgs>div:nth-child(2){
    margin-left: 20px;
}
#month{
    background-color: rgb(255,255,255);
    width: fit-content;
    box-sizing: content-box;
    padding: 10px 25px 5px 20px;
    margin-top: 20px;
}
#month>span :nth-child(1){
    color: rgb(243,93,118);
    font-size: 15px;
    font-family: 'Mulish', sans-serif;
}
span{
    color: rgb(85,85,85);
    font-size: 15px;
    font-family: 'Mulish', sans-serif;
   
}
#month-2imgs{
    display: flex;
}
#view-collections{
    text-align: center;
    margin: auto;
    background-color: rgb(255,255,255);
    width: 50%;
    border: 2px solid rgb(243,93,118);
}
#view-collections a{
    text-decoration: none;
    color:rgb(243,93,118); ;
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
}
#view-collections a :hover{
    color: black
}

/* Know more start */
#know-more{
    background-image: url('https://costar.brightspotcdn.com/dims4/default/0656203/2147483647/strip/true/crop/880x495+0+27/resize/1200x675!/quality/90/?url=http%3A%2F%2Fcostar-brightspot.s3.amazonaws.com%2Fd8%2Fbc%2F935adc7e48a2a98b005e690ec2f3%2Fview-toward-display-case-revision-copy.jpg');
    text-align: center;
}

#know-more h4{
    padding-top: 250px;
    font-size: 60px;
    color: aliceblue;
}
#know-more a{
    text-decoration: none;
    color: rgb(109, 109, 175);
    background-color: aliceblue;
    padding: 15px 30px 15px 30px;
}
#know-more div{
    padding-bottom: 75px;
    width: 30%;
    margin: auto;   
}


/* promise start */
#promise{
    display: grid;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    justify-items: center;
    background-color:rgb(254,244,245);
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
    
}
#promise div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(255,255,255);
    padding: 40px 130px 40px 130px;
    text-align: center;
}
#promise>div img{
    width:80%;
    height: 50%;
    margin: auto;
}
.promise-heading{
    margin-top: 15px;
    text-align: center;
}
.promise-heading h4{
    color: rgb(0,30,56);
    font-size: 25px;
}


#main-promise{
    display: grid;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    justify-items: center;
    background-color:rgb(254,244,245);
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    
}

#main-promise>#promise1,#main-promise>#promise2,#main-promise>#promise3,
#main-promise>#promise4,#main-promise>#promise5,#main-promise>#promise6{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(255,255,255);
    padding: 30px 30px 20px 30px;
    text-align: center;
    position: relative;
}
#main-promise img{
    width: 50%;
    height: 50%;
    margin: auto;
}
#main-promise a{
    color: brown;
}
#hide-promise1,#hide-promise2,#hide-promise3,#hide-promise4,#hide-promise5,#hide-promise6{
    display: none;
    text-align: left;
    padding: 0px;
    font-size: small;
}
#hide-promise1 h6,#hide-promise2 h6,#hide-promise3 h6,#hide-promise4 h6,#hide-promise5 h6,#hide-promise6 h6{
    text-align: left;
    color: rgb(243,93,118);
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#promise-heading{
    text-align: center;
    font-size: 25px;
    margin-top: 25px;
}
#hide-promise1 hr{
    margin-top: 0px;
    margin-bottom: 0px;
}
#promise1:hover #hide-promise1,#promise2:hover #hide-promise2,#promise3:hover #hide-promise3,
#promise4:hover #hide-promise4,#promise5:hover #hide-promise5,#promise6:hover #hide-promise6{
    display: block;
    position: relative;
}
#promise1:hover #sub-promise1,#promise2:hover #sub-promise2,
#promise3:hover #sub-promise3,#promise4:hover #sub-promise4,
#promise5:hover #sub-promise5,#promise6:hover #sub-promise6{
    display: none;
}


/* Customer Support start */

#coustmer-container{
    margin: auto;
    background-color: rgb(255,255,255);
    text-align: center;
    position: relative;
    padding-bottom: 50px;
}
#coustmer-container h1{
    margin-bottom: 20px;
    padding-top: 50px;
}
.slide1{
    margin: auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    width: 40%;
    margin-top: 80px;
    padding-top: 100px;
    position: relative;
    padding: 70px 50px 10px 50px;
}
.slide1>img{
border-radius: 50%;
width: 20%;
height: 30%;
position: absolute;
top: -10%;
left: 40%;
}
.slide1 h4{
    margin-top: 0px;
}
.sub-img{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}
.sub-img img{
    width: 30%;
    height: 30%;
}
.sub-img a{
    text-decoration: none;
    color: gray;
}
.right{
    background-color: rgb(251,227,233);
    width: 5%;
    height: 8%;
    border-radius: 50%;
    border: 0px;
    font-size: large;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    position: absolute;
    left: 90%;
    top: 55%;
}
.left{
    background-color: rgb(251,227,233);
    width: 5%;
    height: 8%;
    border-radius: 50%;
    border: 0px;
    font-size: large;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    position: absolute;
    left: 10%;
    top: 55%;
}



/* NEWS */


#news{
    margin-top: 30px;
    text-align: center;
    background-color: rgb(246,246,246);
    padding-bottom: 50px;
}
#news > h1{
    padding-top: 60px;
    font-family: 'Merriweather', serif;
    font-size: 25px;
    color: rgb(0,30,56)
}

#news-container{
    display: grid;
    margin: auto;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 10px;
    background-color: rgb(246,246,246)
}
#news-container div{
    width: 80%;
    height: 90%;
    background-color: rgb(255,255,255);
    text-align: center;
    padding: 25px 25px 40px 25px;
}

#news-container div:nth-child(even) img{
    margin-top: 10px;
    width: 100%;
    height: 20%;
}
#news-container div:nth-child(even) p{
    margin-top: 50px;
    margin-bottom: 28px;
}
#news-container div button{
    margin-top: 30px;
    padding: 10px 20px 10px 20px;
}
#news-container div:nth-child(odd) img{
    width: 100%;
    height: 40%;
}
#news-container button{
    color: gray;
    background-color: transparent;
    border: 1px solid black;
}
#news-container a:hover button{
background-color: gray;
color: aliceblue;
}
#view-news button{
    border: 1px solid rgb(242,92,77);
    color: rgb(242,92,77);
    background-color: rgb(255,255,255);
    padding: 25px;
    width: 25%;
}



/* Follow us on */

#followus{
    background-color: rgb(255,255,255);
    padding-top: 50px;
    padding-bottom: 150px;
}

#follow{
    text-align: center;
}
#follow h2{
    font-size: 24px;
    font-family: serif;
    color: rgb(0,30,56);
}
#fb-insta{
    display: flex;
    width: 100%;
}
#fb-insta>div{
    margin-left: 6%;
}
.fb{
    width: 33%;
}
.fb-logo{
font-family: 'Merriweather', serif;
font-size: 20px;
padding-bottom: 5px;
}
.bluestone-bg>div:nth-child(1){
    display: flex;
}
.bluestone-bg{
    background-image: url("https://scontent.fblr20-2.fna.fbcdn.net/v/t39.30808-6/277165541_5001727316582627_7046354297407271466_n.jpg?stp=dst-jpg_p206x206&_nc_cat=104&ccb=1-5&_nc_sid=dd9801&_nc_ohc=9q23q6FiB6sAX8PMz8y&_nc_ht=scontent.fblr20-2.fna&edm=AI2xOsQEAAAA&oh=00_AT_tEhs8ViUn-yx_FbiC7TlnriG2o4WRkEEHkhUEzC1iBA&oe=624A37AC");
    
}
.bluestone-bg>div{
    padding-left: 5px;
    padding-bottom: 10px;
}
.bluestone-bg span{
    color: aliceblue;
}
.bluestone-bg>div:nth-child(1){
    margin-top: 5px;
    margin-bottom: 60px;
    padding-top: 5px;
}

.like-shop{
    display: flex;
    justify-content:space-between;
    padding-right: 10px;
}
.like-shop button img{
    height: 100%
}
.like-shop button{
   height: 30px;
   padding: 5px;

}

.insta-logo{
font-family: 'Merriweather', serif;
font-size: 20px;
padding-bottom: 5px;
}

.instagram-pics{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 2px;
    margin-left: 0px;
}
.instagram-pics img{
    width: 130x;
    height: 130px;
}




/* Footer start */

* {
    box-sizing: border-box;
  }
  
  .footer-container {
    background-color: rgb(39,43,101);
    padding: 50px 0px 50px 0px;
    width: 100%;
    margin: auto;
  }
  .footer-container a{
      line-height: 10px;
  }
  .footer {
    width: 90%;
    height: 40vh;
    background-color: #272b65;
    display: flex;
    color: rgb(204, 192, 192);
    justify-content: space-around;
    /* flex-wrap: wrap; */
    margin: 0 auto;
  }
  .footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4 rem;
    /* padding-bottom: 12%; */
  }
  .footer-heading h4 {
    margin-bottom: 2rem;
  }
  .footer-heading a {
    color: rgb(204, 192, 192);
    text-decoration: none;
    margin-bottom: 0.5rem;
  }
  .footer-heading a:hover {
    color: white;
    transition: 0.3s ease-out;
  }
  .footer-email-form h2 {
    margin: bottom 2rem;
    justify-content: center;
  }
  #footer-email {
    background-color: #4a5282;
    width: 240px;
    height: 30px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
  }
  .subscribe-butn {
    cursor: pointer;
    background-color: #4a5282;
    color: black;
    transition: all 0.4s ease-out;
    width: 100px;
    height: 30px;
    outline: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
  .subscribe-butn:hover {
    background-color: orange;
  }
  #footer-email::placeholder {
    color: rgb(212, 221, 230);
  }
  /* #footer-email-btn {
    width: 90px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    color: white;
    font-size: 1rem;
  } */
  /* .download {
    background-color: red;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  } */
  #dad {
    display: flex;
    box-sizing: border-box;
    background-color: rgb(26,32,79);
    width: 22%;
    height: 250px;
    cursor: pointer;
    padding-left: 20px;
  }
  #image {
    position: relative;
    bottom: 50%;
  }
  /* .footer-heading {
      padding-top: 100px;
  } */
  .footer-hr {
    background-color: rgb(116, 116, 224);
    padding: 1px;
    margin: auto;
    border: none;
  }
  
  /* #footer-email-btn:hover{
      cursor:pointer;
      background-color: orange;
      transition: all 0.4s ease-out;
  } */
  /* .Social-Media-icon {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: none;
    text-align: center;
    cursor: pointer;
     flex-direction: row;
     padding: 10px;
     position: absolute;
    left:40%;
  } */
  
  
  .final-part-of-footer{
    display: flex;
    justify-content: space-evenly;
  }
  
  .final-part-of-footer>div{
    padding: 10px 30px 10px 30px;
  }
  
  .Social-Media-icon .fa-brands,#mastercard .fa-brands{
    font-size: 25px;
    color: rgb(204, 192, 192);
    padding: 8px;
  }
  #mastercard .fa-solid {
    font-size: 25px;
    color: rgb(204, 192, 192);
    padding: 8px;
  }
  .Social-Media-icon {
    display: flex;
    font-size: 25px;
    background-color: transparent;
    border: none;
  }
  .Social-icon {
    margin-left: 10px;
  }
  .Social-icon:hover > a > i {
    cursor: pointer;
    color: white;
  }
  .footer-hr{
    width: 90%
  }
  
  #mastercard {
    display: flex;
    background-color: transparent;
    /* position: absolute; */
    left: 60%;
    font-size: 25px;
  }
  .Social:hover > a > i {
    cursor: pointer;
    color: white;
  }
  .Social {
    margin-left: 12px;
  }
  
  #mastercard > a > i {
    margin-left: 10px;
  }
  .kite {
    /* position: absolute; */
    left: 72%;
    color: rgb(204, 192, 192);
  }
  .kite:hover {
    color: white;
    cursor: pointer;
  }
  
  /* i{
      background-color: white;
      display: flex;
      
  } */
  /* @media screen and(max-width:1150px) {
    .footer {
      height: 50vh;
    }
    .footer-email-form {
      margin: 4rem;
    }
  }
  @media screen and(max-width:820px) {
    .footer {
      padding-top: 2rem;
    }
    /* .footer-email-form{
         padding-top: 4rem;
      } */
  /* }
  @media screen and(max-width:720px) {
    .footer-3 {
      display: none;
    }
    .footer-email-form {
      margin: 4rem;
    } */
  /* } */ 
  