@import url('https://fonts.googleapis.com/css2?family=Domine&family=Mulish:wght@700&display=swap');

.container{
box-sizing: border-box;
width: 500px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
border: 1px solid red;
font-family: 'Mulish', sans-serif;




}
h2{
    margin-left: 10px;
}
.container>.upper{
    border: 1px solid black;
    background-color: #001e38;
    color: white;
}

.input{
    margin-left: 8px;
    width: 60%;
    height: 40px;
    font-size: large;

}
.help{
    display: block;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 25px;
    color: #737373;
    font-family: 'Domine', serif;
}

#submit{
    height: 46px;
    width: 165px;
    position: absolute;
    right: 10px;
    background-color:#f15d47;
    color: white;
    cursor: pointer;
    
}
.do-not{
    margin-left: 175px;
    color: #4476b2;
    font-family: 'Domine', serif;

}

.sign-color{
    color: #f15d47;
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
}

.lower{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    padding-bottom: 20px;
}
.facebook{
background-color: #4476b2;
font-size: 15px;

}
button{
font-size: 15px;
background-color: #f15d47;
color: white;
cursor: pointer;
}
.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
    color: white;
    font-size: 25px;
    margin-right: 10px;
}