@import url('https://fonts.googleapis.com/css2?family=Domine&family=Mulish:wght@700&display=swap');

.container{
    /* border: 1px solid black; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: auto;
    /* width: 50%; */
    margin: auto;
    box-sizing: border-box;
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%) scale(1.25);
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
    font-family: 'Mulish', sans-serif;
    border-radius: 15px;
}
.container.active{
    top: 50%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;

}
.up{
border: 1px solid red;
background-color: #001e38;
color: white;
border-radius: 15px;

}
.closebtn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 15px;
    cursor: pointer;
}
h2{
    margin-left: 22px;
    
}
.mini{
    line-height: 70px;
}
.mini>div>input{
    height: 40px;
    width: 575px;
    font-size: large;
    margin-left: 25px;
    margin-right: 25px;
}


.checkbox{
    margin-left: 25px;
    cursor: pointer;
}

button{
    height: 50px;
    width: 500px;
    margin-left: 55px;
    /* position: relative;
    left: 5%; */
    margin-top: 25px;
    background-color: #f15d47;
    color: white;
    font-family: 'Mulish', sans-serif;
    cursor: pointer;
}
p{
    margin-left: 50%;
}
.facebook{
    width: 275px;
    margin-left: 170px;
    background-color: #4476b2;
    font-size: 15px;
    cursor: pointer;
    

}
.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
    color: white;
    font-size: 25px;
    margin-right: 10px;
}
.low{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    padding-bottom: 25px;
}