*{
    font-family:Muli,Arial,sans-serif;
}
a{
    text-decoration:none;
    color: #337ab7;
}
a:hover{
    text-decoration:none;
}
#box1{
    width:73%;
    height:auto;
    margin:auto;
}
#box2{
    display:grid;
    grid-template-columns:repeat(2,550px);
    grid-template-rows:repeat(2,auto);
    gap:40px;
}

#box3{
    display:flex;
    flex-direction:row;
}
.icons{
    display:flex;
    justify-content:center;
    font-size:20px;
    width:20px;
    margin-top:30px;
    color:grey;
    margin-left:5px;
}
#imgContainer{
    display:grid;
    grid-template-columns:repeat(5,90px);
    grid-template-rows:repeat(1,auto);
    grid-gap:10px;
}
#imgContainer>div{
    border:1px solid grey;
    width:90px;
}
#imgContainer>div>img{
   margin:0;
   padding:0px;
   width:90px;
}
#box4{
    display:flex;
    flex-direction:row;
    justify-content:center;
    height:65px;
}
#box4>div>p{
    color:#272b65; 
    line-height:39px;
    letter-spacing:.1em;
    font-size:11px;
}
#box4>div>img{
    height:25px;
    width:50px;
    margin-top:20px;
    margin-left:10px;
}
#secondDiv>div>h1{
    color:black;
    font-size:26px;
    line-height:30px;
    font-family:Times Roman;
    font-weight:500px;
}
#secondDiv>p{
    margin-top:-1px;
    font-size:13px;
    color:#666;
    letter-spacing: 0.06em;
}
#secondDiv>div>p{
    font-size: 17px;
    margin-top:-2px;
    color:#4d4d4d;
    line-height:9px;
    letter-spacing:0.06em;
}
.webrupee{
    color: #666;
    font-size: 18px;
    line-height: 24px;
    font-family:'WebRupee';
}
#web-rup{
    color: #666;
    font-size: 18px;
    line-height: 24px;
    font-family:'WebRupee'
}
.web_rup1{
    color: black;
    font-family: Domine,serif;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0;
}
#inner{
    letter-spacing: .04em;
    padding: 8px 29px 8px 0;
    display:flex;
    flex-direction: row;
    gap:10px;
}
#inner>p:nth-child(1){
    font-size:12px;
}
#trial{
    font-size:15px;
    height:40px;
}
#trial:hover{
    background-color:darkgray
}
/* tooltip--hovering on text and appear the div */
.tooltipI {
    position: relative;
    display: inline-block;
  }
  
  .tooltipI .tooltiptext {
    margin-top:5px;
    visibility: hidden;
    letter-spacing: 1px;
    line-height:10px;
    width: 600px;
    height:58px;
    font-size:15px;
    background-color: white;
    padding: 18px 0px 0px 18px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltipI:hover .tooltiptext {
    visibility: visible;
  }
  /* ---tooltip ended */
  #address_details{
      background-color: white;
      padding-left:10px;
      height:170px;
  }
  #pincode_sec{
      display:flex;
      flex-direction:row;
  }
  #pincode_sec>p:nth-child(1){
      font-size:15px;
      color:grey;
      margin-top:20px;
      margin-right:20px;
  }
  #pincode_sec>p:nth-child(2){
      font-size:13px;
      width:65px;
      height:30px;
      margin-top:15px;
      padding:5px;
      padding-bottom:5px;
      border:1px solid grey;
      color:grey;
      background-color:white;
  }
  #pincode_sec>p:nth-child(3){
    font-size:13px;
    margin-top:15px;
    width:50px;
    height:30px;
    padding:5px;
    border:1px solid grey;
    color:grey;
    background-color:lightgray;
  }
  #address{
    border: 1px dashed #e0e0e0;
    padding: 8px 10px 0px 10px;
    margin-bottom: 8px;
    height:60px;
    width:480px;
    color:grey;
    line-height: 20px;
    display: inline-block;
  }
  #address+div{
      color:grey;
      font-size:15px;
  }
  .diamond1{
      color:black;
      padding-top:20px;
      padding-bottom:10px;
      border-bottom:1px solid grey;
  }
  .diamond12{
      border-bottom:1px solid grey;
      display:flex;
      flex-direction:row;
      justify-content:space-between;
  }
  .diamond12>div>i{
      margin-top:10px;
  }
  .diamond12>div>p{
    font-family: Muli,Arial,sans-serif;
    font-size: 14px;
    line-height: 30px;
    color: black;
    cursor: pointer;
    letter-spacing: 0;
  }
  .diamond12:hover{
      cursor:pointer;
  }
  #hiding{
      display:none;
  }
  #hiding>div{
      border:none;
  }
  .styling{
    display:flex;
    flex-direction:row;
    gap:10px;
    margin-top:5px;
    color:grey;
    padding:5px;
    box-sizing:border-box;
  }
  .radioBox{
    width:140px; 
    height:30px;
    background-color:white; 
    color:grey;
    padding:5px;
    font-size:13px;
    box-sizing:border-box;
  }
  .sec{
    width:380px; 
    line-height:10px;
    margin-left:5px;
    margin-bottom:15px;
  }
  .third{
      border:0.5px solid black;
  }
  #buyNow{
      width:280px;
      height:40px;
      border:none;
      background-color:red;
      opacity:0.5;
      color:white;
      padding:10px;
      font-size:16px;
      box-sizing:border-box;
      cursor:pointer;
  }
  #buyNow:hover{
      opacity:1;
  }
  #monthlyPlan{
    width:180px;
    height:40px;
    background: 0;
    font-size:16px;
    font-weight: 700;
    color: #f15d47;
    cursor:pointer;
  }
  #ringSIze{
    margin-top:2%;
    display:flex;
    flex-direction:row;
    gap:20px;
  }
  #sureRing{
    margin-top:19px;
    padding-top:10px;
    font-size:13px;
    font-weight:bold;
  }
  #submission{
      display:flex;
      flex-direction:row;
      gap:10px;
      margin-top:10px;
  }
  #submission>div:nth-child(2){
      width:300px;
      height:40px;
      border: 1px solid #f15d47;
      padding:10px;
      padding-left:60px;
      box-sizing:border-box;
  }
  #offers{
      display:flex;
      flex-direction:row;
      border-top:0.5px solid grey;
      border-bottom:0.5px solid grey;
      margin-top:20px;
      box-sizing:border-box;
      height:60px;
  }
  #offers>div{
      box-sizing:border-box;
      font-size:13px;
      color:grey;
  }
  #offers>div>p>i{
      font-size:20px;
      padding-top:5px;
  }
  #offers>div:nth-child(1){
      border-right:0.5px solid grey;
      margin:5px;
      padding-right:10px;
  }
  #offers>div:nth-child(2){
    border-right:0.5px solid grey;
    margin:5px;
    padding-right:10px;
}
#offers>div:nth-child(3){
    margin:5px;
}
#help{
    padding:10px;
    padding-left:60px;
    margin-top:10px
}
#product_details{
    width:80%;
    margin:auto;
    margin-top:20px;
    height:50px;
    display:grid;
    grid-template-columns:700px 500px;
    grid-template-rows:750px auto;
    gap:10px;
}
#product_details>div:nth-child(1){
    padding:10px;
    border: 1px solid #f0f0f0;
}
.title{
    font-size: 15px;
    background: 0;
    border: 0;
    line-height: 21px;
    letter-spacing: .1em;
    margin: 0;
    padding: 8px 8px 5px 8px;
    text-transform: uppercase;
}
.content>div{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding:0px 9px 0px 8px;
    border-bottom:0.5px solid lightgrey;
}
.content>div>div{
    color: #4476b2;
    font-size:12px;
    line-height: 1.42857143;
    letter-spacing:1px;
    padding:5px 5px 5px 0px;
}
#full_address>div:nth-child(2){
    margin-top:-2px;
    box-sizing:border-box;
    letter-spacing:1px;
}
#full_address>div>p:nth-child(1){
    letter-spacing:1px;
    margin-left:38px;
}
#full_address>div>p:nth-child(2){
    margin-left:28px;
    font-size:9px;
    color:grey;
    margin-top:-10px;
    margin-bottom:1px;
    letter-spacing:1px;

}
#full_address+div{
    border:none;
}
.detail_diamond{
    background: #f9f9f9;
    border-top: 1px solid #d1d1d1;
    font-weight: 600;
}
.fas{
    float:right;
}
.detailsOFdiamond{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    border-bottom:0.5px solid lightgrey;
    box-sizing:border-box;
}
.detailsOFdiamond>p{
    color: #4476b2;
    font-size:12px;
    line-height:13px;
    padding-top:7px;
    margin-left:6px;
    letter-spacing:1px;
}
table{
    width:100%;
    border-collapse:collapse;
    color: #4476b2;
    font-size:12px;
    padding: 3px 8px 5px 8px;
    line-height: 1.42857143;
    background-color: #fff;
    letter-spacing: .06em;
}
tr{
    border-bottom: 1px solid lightgrey;
    line-height:23px;
}
tr>td{
    width:200px;
    padding-left:8px;
}
tr>td:nth-child(3){
    text-align:right;
}
#table_of_diamod_details{
    display:none;
}
.hide1{
    display:none;
}
.price{
    height:30px;
}
.bord{
    border:none;
}

#customerSpeak{
    border: 1px solid #f0f0f0;
    padding:10px;
    padding-bottom:-25px;
    width:700px;
    padding-left:20px;
    box-sizing:border-box;
}

#part1{
    background-color: #f9f9f9;
    border: 1px solid #f0f0f0;
    margin-bottom: 12px;
    padding-bottom: 0 !important;
    width:100%;
}
#bluestone{
    display:grid;
    width:90%;
    margin:auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,40px);
    grid-template-areas:"a b c"
                          "d e f";
}
#bluestone>div{
    display:flex;
    flex-direction:row;
    padding-left:5px;
    cursor:pointer;
}
#bluestone>div:nth-child(1){
    grid-area:a;
}
#bluestone>div:nth-child(2){
    grid-area:b;
}
#bluestone>div:nth-child(3){
    grid-area:c;
}
#bluestone>div:nth-child(4){
    grid-area:d;
}
#bluestone>div:nth-child(5){
    grid-area:e;
}
#bluestone>div:nth-child(6){
    grid-area:f;
}
#bluestone>div>i{
    color:navy;
    padding-top:8px;
}
#bluestone>div>p{
    color:red;
    font-size:11px;
    text-transform:uppercase;
    margin-top:10px;
    margin-left:5px;
}
#part2{
    background-color: #9babc4;
    border: 1px solid #f0f0f0;
}
#heading{
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #272b65;
    font-weight: bold;
    padding: 16px 0 0px 0;
    font-size: 16px;
    line-height: 21px;
    font-family: Domine,serif;
    letter-spacing: .06em;
}
.authencity{
    color: white;
    text-align: center;
    padding-bottom: 32px;
    letter-spacing: .06em;
    font-family: Domine,serif;
    font-size: 15px;
    line-height: 19px;
}
.container{
    width:100%;
}
.title1{
    font-size: 13px;
    background: 0;
    border: 0;
    line-height: 21px;
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
    border-bottom:1px solid black;
    padding-bottom:10px;
    margin-bottom:20px;
}

.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel-item {
	color: #4d4d4d;
	font-size: 14px;
    font-family: Muli,Arial,sans-serif;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
	width: 235px;
	height: 235px;
	margin: 0 auto;
	padding: 5px;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {	
    font-family: Domine,serif;
    font-size: 17px;
    line-height: 19px;
    cursor:pointer;
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
	line-height: 42px;
    position: absolute;
    display: inline-block;
	font-size: 50px;
    color: #272b65;
    text-shadow: 2px 2px 10px rgba(40,42,99,0.3);
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
hr{
    width:20%;
    border:1px solid blue;
}
