#navbar_cart{
    height:84px;
    background: white;
    border-bottom: 1px solid #ebebeb;
    box-shadow: 0 3px 5px rgba(0,0,0,0.05);
    font-family: Muli,Arial,sans-serif;
    letter-spacing: 2px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(1,auto);
    justify-content: space-around;
}
a{
    text-decoration:none;
}
#navbar_cart>div{
    padding:20px;
    padding-left:140px;
    box-sizing: border-box;
    padding-bottom:10px;
}
#navbar_cart>div:last-child{
    padding:30px;
    color:grey;
}
#navbar_cart>div>span:nth-child(1){
    border-right:1px solid lightgrey;
    font-size:15px;
    padding-right:10px;
    margin-right:10px;
}
#navbar_cart>div>span:nth-child(2){
    font-weight:600;
}
#details_of_cart{
    width:100%;
    height:400px;
    padding-top:2%;
    margin-bottom:80px;
}
#first_box{
    width:98%;
}
#first_box>div>div{
    display:flex;
    flex-direction:row;    
    justify-content:space-between;
}
#add_to_cart_product{
    width:45%;
    height:550px;
    margin-left:10%;
    padding:15px;
    box-sizing:border-box;
    float:left;
}
#place_order1{
    width:35%;
    height:550px;
    margin-right:10%;
    float:right;
    padding:55px 55px 0px 35px;
    border-left:3px solid #f7f7f7;
    box-sizing:border-box;
}
#nc-title{
    color: #252525;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: .04em;
    padding: 0 0 20px 0px;
    margin: 0;
    letter-spacing:2px;
}
.product-title{
    font-size: 19px;
    line-height: 18px;
    color: #252525;
    display: block;
    padding:10px;
    letter-spacing: .04em;
}
.product-title>a{
    text-decoration:none;
    color: #252525;
}
.product-code{
    font-size: 12px;
    line-height: 18px;
    margin-top:5px;
    color: #707070;
    display: block;
    letter-spacing: .04em;
}
#ring_details_remove{
    display:flex;
    flex-direction:row;
    gap:10px;
}

.old-price{
    padding: 2px 0 0 0;
    font-family: Arial,sans-serif;
    font-size: 14px;
    color: #707070;
    letter-spacing: 0;
}
.new-price{
    letter-spacing:1px;
    color: #252525;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600
}
.offer-info-block{
    color: #666;
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0;
    text-transform:uppercase;
}
.list{
    z-index:1;
    overflow:hidden;
}
.make_ring_size{
    display:flex;
    flex-direction:row;
    height:32px;
    letter-spacing:1px;
}
.first-divs{
    background-color:#f7f7f7;
    width:128px;
    color:grey;
    border:1px solid white;
    text-align:center;
    font-size:15px;
    padding:3px;
}
.metal-part{
    background-color:#f7f7f7;
    width:144px;
    color:grey;
    border:1px solid white;
    text-align:center;
    font-size:15px;
    padding:3px;
}
.data-part{
    border:1px solid #f7f7f7;
    font-size:14px;
    padding:5px;
    padding-left:15px;
    width:80%
}
.select-box{
    display:flex;
    flex-direction:column;
}
.select-box .options-container{
    background-color:#f7f7f7;
    color:#666;
    max-height:0;
    width:100%;
    opacity:1;
    z-index:1;
    transition:all 0.4s;
    overflow:hidden;
    order:1;
}
.selected{
    position:relative;
    top:-4px;
    order:0;
}
.selected::after{
    content:'';
    background:url('https://cdn.iconscout.com/icon/free/png-256/dropdown-keyboard-arrow-menu-key-direction-30471.png');
    background-repeat: no-repeat;
    background-size:contain;
    position:absolute;
    height:100%;
    width:32px;
    right:10px;
    top:1px;
    transition: all 0.4s;
}
.select-box .options-container.active{
    max-height:200px;
    opacity:1;
    overflow-y:scroll;
}

.select-box .option, .selected{
    padding:12px 24px;
    cursor:pointer;
}
.select-box .options-container::-webkit-scrollbar{
    width:8px;
    background-color: #f7f7f7;
}
.select-box .options-container .active + .selected::after{
    transform:rotateY(180deg);
    overflow:scroll;
}
.select-box .option:hover{
    background-color:lightgrey;
}
.select-box label{
    cursor:pointer;
}
.select-box .option .radio{
    display:none;
}
select{
    background-color:transparent;
    border:none;
}
.choice-to{
   border-top:2px solid #f7f7f7;
   border-bottom:2px solid #f7f7f7;
   margin-top:7.5%;
}
.choice-to>div:nth-child(1){
    border-right:2px solid #f7f7f7;
}
.choice-to>div{
    padding:2px;
    padding-left:8px;
    padding-right:8px;
    margin-right:10px;
    cursor:pointer;
}
.choice-to>div>span{
    font-size:13px;
}
.choice-to>div>span>a{
    color:black;
    text-decoration: none;
}
#insurance-money{
    margin-top:5%;
    font-size:13px;
    color:darkslategrey;
    background-color:#f7f7f7;
    display:flex;
    flex-direction:row;
    gap:10px;
    height:55px;
    letter-spacing:0.06em;
}
#insurance-money>div:nth-child(1){
    text-align:center;
    padding-top:5px;
    width:30%;
}
#insurance-money>div:nth-child(2){
    text-align:center;
    padding-top:5px;
    width:45%;
}
#insurance-money>div:nth-child(3){
    text-align:center;
    padding-top:5px;
    width:25%;
}
#nt-title{
    color: grey;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: .04em;
    padding:5px 0px 5px 5px;
    margin: 0;
    letter-spacing:2px;
}
.payment-summery{
    height:40px;
    border-bottom:1px dashed grey;
    display:flex;
    padding:10px;
    flex-direction:row;
    justify-content:space-between;
}
#place_order1>div:nth-child(5){
    border:none;
    height:65px;
    background-color:#f7f7f7;
    color:#4d4d4d;
}
#place_order1>div:nth-child(2){
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .04em;
    color:#4d4d4d;
}
#place_order1>div:nth-child(3){
    color: #252525;
    font-size: 20px;
    line-height: 24px;
    font-weight:500;
} 
#place_order1>div:nth-child(4){
    color:green;
    padding-bottom:40px;
    border:none;
}
#btns1{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height:50px;
    font-size:19px;
    margin-top:60px;
    margin-bottom:40px;
}
button{
    border-radius:10px;
    height:50px;
    width:100%;
    background-color:red;
    opacity:0.5;
    color:white;
    letter-spacing:1px;
    font-weight:800px;
    border:3px solid white;
}
button:hover{
    opacity:1;
}
#chat_us{
    margin-bottom:20px;
    font-size:16px;
    letter-spacing:1px;
}
#footer-place-order>img{
    border-radius:50%;
    border:2px solid yellow;
    width:50px;
    height:50px;
}
#footer-place-order{
    display:flex;
    flex-direction:row;
    gap:5px;
}
#footer-place-order>div{
    margin-top:30px;
    width:200px;
    text-align:center;
    font-size:13px;
    letter-spacing:0px;
    line-height:17px;
    text-transform:uppercase;
}
#image>img{
    border-radius:50%;
    width:50px;
    height:50px;
}